@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap")
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css")

$body-font-family: 'Gilroy Extrabold', 'Open Sans' !important
$heading-font-family: $body-font-family
//specificity needs to be taken into consideration for some components
//because !important has been assigned to their css
//https://dev.to/emmabostian/css-specificity-1kca
html,
body,
.v-application 
  font-family: $body-font-family
//added all typography helper classes because of css specificity override
//https://vuetifyjs.com/en/styles/typography#typography 
.v-application 
    .display-4,
    .display-3,
    .display-2,
    .display-1,
    .headline,
    .title,
    .subtitle-1,
    .subtitle-2,
    .body-1,
    .body-2,
    .caption,
    .overline
        font-family: $body-font-family
@import "~vuetify/src/styles/styles.sass"

